<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/Thymeleaf.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--使用本地端伺服器資源-->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>

        <script>
            function btnAdd() {
                var amount = document.getElementById("amount").value;
                amount = Number(amount) + 1;
                document.getElementById("amount").value = amount;
            }

            function btnMinus() {
                var amount = document.getElementById("amount").value;
                amount = Number(amount);
                if (amount <= 1) {
                    amount = 0;
                } else {
                    amount -= 1;
                }
                document.getElementById("amount").value = amount;
            }
        </script>
    </head>
    <body th:object="${product}">
        <div class="container" style="max-width: 800px">

            <div class="well">
                <form action="#" th:action="@{/menu/shoppingcart}" method="POST">
                    <!-- 確認區段 -->
                    <input type="hidden" th:value="*{id}" name="id"/>
                    <div class="form-group">
                        <img style="width: 50%; height: 50%" th:src="${product.photo?.photo_location}" alt="photo"/>
                    </div>
                    <div class="form-group">
                        <span th:text="*{name}"></span>
                        <label>數量:</label>
                        <input type="button" onclick="btnMinus()" value="-"/>                     
                        <input id="amount" name="amount" type="text" value="0"/>
                        <input type="button" onclick="btnAdd()" value="+"/>
                        <label>價格:</label>
                        <span th:text="'$'+*{price}"></span>
                    </div>
                    <!-- 訊息區段 -->
                    <div>
                        <ul>
                            <li th:each="pd : ${product.productDetails}">
                                <span th:text="${pd.detail}"></span>
                                <select name="selection" th:if="${pd.selectable==1}">
                                    <option value="0">可口可樂</option>
                                    <option value="1">雪碧</option>
                                    <option value="2">檸檬紅茶</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <hr/>
                    <div>


                    </div>
                    <div class="form-group">
                        <p>
                            <button type="submit">加入購物車</button>
                        </p>
                    </div>

                </form>

            </div>  

        </div>




        <!--使用本地端伺服器資源-->
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"/>    
    </body>
</html>
