<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/Thymeleaf.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--使用本地端伺服器資源-->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
    </head>
    <body th:object="${product}">
        <div class="container" style="max-width: 800px">

            <div class="well">
                <form action="#" th:action="@{/menu/shoppingcart}" method="POST">
                    <!-- 產品圖片 -->
                    <input type="hidden" th:value="*{id}" name="id"/>
                    <div class="form-group">
                        <img style="width: 50%; height: 50%" th:src="${product.photo?.photo_location}" alt="photo"/>
                    </div>

                    <!-- 分享餐與其他單點 共用區段 -->
                    <div class="form-group">
                        <span th:text="*{name}"></span>
                        <label>數量:</label>         
                        <a class="btn btn-default" href="#" th:href="@{'/menu/'+*{id}+'/confirmInfo?count='+${count-1}+'&countsp='+${countsp}}">-</a>    
                        <input name="count" type="text" th:value="${count}"/>
                        <a class="btn btn-default" href="#" th:href="@{'/menu/'+*{id}+'/confirmInfo?count='+${count+1}+'&countsp='+${countsp}}">+</a> 
                        <label>價格:</label>
                        <span th:text="'$'+*{price}"></span>
                    </div>

                    <!-- 分享餐 訊息區段-->                    
                    <div th:if="${#strings.equals(product.category, 'SHARE')}">
                        <input type="hidden" name="course_type" value="share"/> <!-- 判斷為分享餐所需要的資訊 -->
                        <div>
                            <table th:unless="${count == 0}" th:each="c : ${#numbers.sequence(1, count)}" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>主餐</th>
                                        <th>附餐</th>
                                        <th>配餐</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td th:if="${pd.selectable != 1}" th:each="pd : ${product.productDetails}">
                                            <div th:each="c : ${#numbers.sequence(1, pd.count)}">
                                                <span th:text="${pd.detail}"></span>                                            
                                            </div>                                            
                                        </td>
                                        <td th:if="${pd.selectable == 1}" th:each="pd : ${product.productDetails}" class="">
                                            <div th:each="c : ${#numbers.sequence(1, pd.count)}">
                                                <span th:text="${pd.detail}"></span>  
                                                <select name="selection" th:if="${pd.selectable==1}">
                                                    <div th:each="d : ${drink}">
                                                        <option>[[${d.name}]]</option>
                                                    </div> 
                                                </select>
                                            </div>
                                        </td>
                                    </tr>                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <!-- 其他單點 -->
                    <div class="form-group" th:unless="${#strings.equals(product.category, 'SHARE') || #strings.equals(product.category, 'MAIN')}">
                        <div th:unless="${count == 0}">
                            <table th:each="c : ${#numbers.sequence(1, count)}" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>單點</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span th:text="*{name}">產品</span>
                                        </td>
                                    </tr>              
                                </tbody>
                            </table>          
                        </div>
                    </div>

                    <!-- 套餐專用區段 -->
                    <div class="form-group" th:if="${#strings.equals(product.category, 'MAIN')}">
                        <span th:text="*{name}+' 套餐'"></span>
                        <label>數量:</label>         
                        <a class="btn btn-default" href="#" th:href="@{'/menu/'+*{id}+'/confirmInfo?count='+${count}+'&countsp='+${countsp-1}}">-</a>    
                        <input name="countsp" type="text" th:value="${countsp}"/>
                        <a class="btn btn-default" href="#" th:href="@{'/menu/'+*{id}+'/confirmInfo?count='+${count}+'&countsp='+${countsp+1}}">+</a> 
                        <label>價格:</label>
                        <span th:text="'$'+*{price+68}"></span>
                    </div>

                    <!-- 主餐單點&套餐 訊息區段-->
                    <div th:if="${#strings.equals(product.category, 'MAIN')}">                        
                        <!-- 單點 -->
                        <div th:unless="${count == 0}">                            
                            <table th:each="c : ${#numbers.sequence(1, count)}" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>單點</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span th:text="*{name}">產品</span>
                                        </td>
                                    </tr>              
                                </tbody>
                            </table>
                        </div>
                        <!-- 套餐 -->
                        <div th:unless="${countsp == 0}">
                            <table th:each="c : ${#numbers.sequence(1, countsp)}" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>套餐</th>
                                        <th>附餐</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span th:text="*{name}"></span>
                                        </td>
                                        <td>
                                            <div th:each="pd : ${product.productDetails}">
                                                <span th:text="${pd.detail}"></span>
                                                <select name="selection" th:if="${pd.selectable==1}">
                                                    <div th:each="d : ${drink}">
                                                        <option>[[${d.name}]]</option>
                                                    </div> 
                                                </select>
                                                <select name="selection" th:if="${pd.selectable==2}">
                                                    <div th:each="s : ${sub}">
                                                        <option>[[${s.name}]]</option>
                                                    </div>                                        
                                                </select>
                                            </div>
                                        </td>
                                    </tr>              
                                </tbody>
                            </table>                            
                        </div>
                    </div>
                    
                    <!-- submit button -->
                    <div class="form-group">
                        <p>
                            <button type="submit">加入購物車</button>
                        </p>
                    </div>
                </form> <!-- end of form -->
            </div> <!-- end of well -->
        </div> <!-- end of container -->

        <!--使用本地端伺服器資源-->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"/>    
    </body>
</html>
