<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/Thymeleaf.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>        
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>
        <style>
            /*user account dropdown selection */
            .dropdown {
                position: relative;
                display: inline-block;
            }
            .dropbtn {
                cursor: pointer;
                border: none;
            }
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 120px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                border-radius: 5px;
            }
            .dropdown-content a {
                color: black;
                padding: 10px 15px;
                text-align: left;
                display: block;
            }
            .dropdown-content a:hover {
                background-color: #f1f1f1;
                text-decoration: none;
                color: #E10C1A;
            }
            .dropdown:hover .dropdown-content {
                display: block;
            }
        </style>
    </head>
    <body style="background-color: #f3f5f9;"> 
        <div id="page" class="container" style="height: 100%;">
            <!-- user account info -->
            <div class="container">    
                <div class="user">
                    <div class="nav navbar-right">
                        <ul>
                            <li>
                                <span class="glyphicon glyphicon-user"></span>
                                &nbsp;|&nbsp;
                            </li>
                            <li>
                                <a th:if="${session.name == null}" href="#" th:href="@{/users/login}" style="color: black">登入</a>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <span class="dropbtn" th:if="${session.name != null}">
                                        &nbsp;[[${session.name}]]&nbsp;
                                        <div class="dropdown-content">
                                            <a href="#" >功能1</a>
                                            <a href="#" >功能2</a>
                                            <a href="#" >功能3</a>
                                            <a href="#" th:href="@{/users/logout}">登出</a>
                                        </div>
                                    </span>
                                </div>
                                |&nbsp;
                            </li>
                            <li>
                                <a href="#" th:href="@{/orders/status}" target="_blank" style="color: black">追蹤訂單</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="wrapper" class="wrapper">
                <!-- topbar -->
                <div id="topbar" class="topbar">
                    <div style="background-color: #E10C1A;">
                        <a href="#">
                            <img src="../static/icon_img/topbar_title.png" th:src="@{/icon_img/topbar_title.png}" alt="title"/>
                        </a>
                    </div>
                    <div>
                        <ul>
                            <li style="border-right: 1px solid #222; padding-left: 30px;">
                                <a href="#" id="menu" th:href="@{/menu}">
                                    <span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp;
                                    瀏覽菜單
                                </a>
                            </li>
                            <li style="border-right: 1px solid #222;">
                                <a href="#" th:href="@{/users/account}">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                                    我的帳戶
                                </a>
                            </li>
                            <li>
                                <a href="https://google.com">
                                    <span class="glyphicon glyphicon-earphone"></span>&nbsp;
                                    支援
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- sidebar -->
                <div id="sidebar" class="sidebar">
                    <ul>
                        <li style="box-shadow: 0 2px 2px #d69c00;">
                            <p class="sidebar-title">一般餐點</p>         
                        </li>
                        <li style="border-bottom: 1px solid #ffd256;">
                            <a href="#" th:href="@{/menu/share}">
                                <span id="icon" class="glyphicon glyphicon-leaf" ></span>&nbsp;
                                <span id="text">快樂分享餐</span>
                            </a>
                        </li>
                        <li style="border-bottom: 1px solid #ffd256;">
                            <a href="#" th:href="@{/menu/main_course}">
                                <span id="icon" class="glyphicon glyphicon-leaf"></span>&nbsp;
                                <span id="text">超值全餐和主餐單點</span>
                            </a>
                        </li>
                        <li style="border-bottom: 1px solid #ffd256;">
                            <a href="#" th:href="@{/menu/sub_course}">
                                <span id="icon" class="glyphicon glyphicon-leaf"></span>&nbsp;
                                <span id="text">配餐單點</span>
                            </a>
                        </li>
                        <li style="border-bottom: 1px solid #ffd256;">
                            <a href="#" th:href="@{/menu/drinks}">
                                <span id="icon" class="glyphicon glyphicon-leaf"></span>&nbsp;
                                <span id="text">飲料</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/menu/dessert}">
                                <span id="icon" class="glyphicon glyphicon-leaf"></span>&nbsp;
                                <span id="text">點心與拼盤</span>
                            </a>
                        </li>

                    </ul>
                </div>    

                <!-- main content -->
                <div layout:fragment="content" id="main_content" class="main_content">
                    <p>Welcome to Thymeleaf Layout Dialect</p>
                </div>

                <!-- rightbar -->
                <div id="rightbar" class="rightbar">
                    <a href="#" th:href="@{/users/confirmAddress}" th:unless="${session.orderLines != null || session.name != null || session.address != null}">
                        <img src="../static/func_img/how_mcdelivery_works_portrait_zh.png" th:src="@{/func_img/how_mcdelivery_works_portrait_zh.png}" alt="right_bar"/>          
                    </a>
                    <!--  あとでThymeleaf Toolsにファンクションを追加 -->
                    <div th:if="${session.orderLines != null || session.name != null || session.address != null}">
                        <div class="cart">
                            <div class="title">
                                カート
                            </div>
                            <hr/>
                            <div class="row item">
                                <div class="subject">
                                    <div>
                                        お届け先：
                                    </div>
                                    <div>
                                        <a href="#" th:href="@{/users/confirmAddress}">編集</a>
                                    </div>
                                </div>
                                <div class="detail" style="width: 50%;">
                                    <span th:if="${session.name == null || session.address != null}">
                                        [[${session.address}]]
                                    </span>
                                    <span th:if="${session.name != null && session.address == null}">
                                        [[${session.user.address}]]
                                    </span>

                                </div>
                            </div>
                            <div class="row item">
                                <div class="subject">
                                    到着予定時間：
                                </div>
                                <div class="detail">
                                    <div id="date1">2022/08/31 00:00</div>
                                    ～
                                    <div id="date2">2022/08/31 00:00</div>
                                </div>
                            </div>
                            <div class="row item">
                                <div class="subject">
                                    <div>小計：</div>
                                    <div>配送料：</div>
                                    <div style="font-size: 20px;">総計：</div>
                                </div>
                                <div class="detail">
                                    <div>
                                        <span th:if="${session.orderLines == null}">NT$0</span>
                                        <span th:if="${session.orderLines != null}" th:text="'NT$'+${#collectiontools.summarization(session.orderLines)}"></span>
                                    </div>
                                    <div>
                                        <span th:if="${session.orderLines == null}">NT$0</span>
                                        <span th:if="${session.orderLines != null}">NT$60</span>
                                    </div>
                                    <div style="font-size: 20px; color: green;">
                                        <span th:if="${session.orderLines == null}">NT$0</span>
                                        <span th:if="${session.orderLines != null}" th:text="'NT$'+${#collectiontools.summarization_freight(session.orderLines)}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row item">
                                <a class="btn btn-block btn-style" href="#" style="background-color: red; color: #fff" th:if="${session.orderLines != null}"  th:href="@{/menu/shoppingcart}">
                                    決済
                                </a>
                                <div class="btn btn-block btn-style btn-disable" th:if="${session.orderLines == null}">
                                    決済
                                </div>
                            </div>
                            <div class="row item" style="text-align: center" th:unless="${session.orderLines != null}">
                                <a href="#" th:href="@{/menu/shoppingcart}">
                                    お客様のカートに商品はありません
                                </a>
                                
                            </div>
                        </div> <!-- end of cart(delivery info) -->     

                        <div class="orderline" th:unless="${session.orderLines == null}">
                            <div >
                                <div style="font-size: 18px; font-weight: 500; margin-top: 10px">注文</div>
                            </div>
                            <div th:if="${session.orderLines.size() > 3}">
                                <div class="row simpleview" th:each="i : ${#numbers.sequence(0, 2)}" th:with="orderLine=${session.orderLines[i]}">
                                    <img style="margin-top: 29px" src="../static/product_img/001.jpg" th:src="${orderLine.product.photo?.photo_location}" th:if="${orderLine.product.category.equals('SHARE')}"/>
                                    <img src="../static/product_img/001.jpg" th:src="${orderLine.product.photo?.photo_location}" th:if="${!orderLine.product.category.equals('SHARE')}"/>
                                    <span class="text" th:if="${orderLine.product.category.equals('MAIN')}">
                                        <span th:if="${orderLine.selection != null}">[[${orderLine.product.name}]] (套餐)</span>
                                        <span th:if="${orderLine.selection == null}">[[${orderLine.product.name}]] (單點)</span>
                                        <span>x [[${orderLine.amount}]]</span>
                                    </span>
                                    <span class="text" th:if="${!orderLine.product.category.equals('MAIN')}">
                                        <span>[[${orderLine.product.name}]]</span>
                                        <span>x [[${orderLine.amount}]]</span>
                                    </span>
                                </div>
                                <div class="row simpleview">
                                    ...（あと[[${session.orderLines.size() -3 }]]個の商品）>> 
                                    <a href="#" th:href="@{/menu/shoppingcart}">
                                        もっと詳しい情報
                                    </a>
                                    
                                </div>
                            </div>
                            <div th:if="${session.orderLines.size() <= 3}">                                
                                <div class="row simpleview" th:each="i : ${#numbers.sequence(0, session.orderLines.size()-1)}" th:with="orderLine=${session.orderLines[i]}">
                                    <img style="margin-top: 29px" src="" th:src="${orderLine.product.photo?.photo_location}" th:if="${orderLine.product.category.equals('SHARE')}"/>
                                    <img src="" th:src="${orderLine.product.photo?.photo_location}" th:if="${!orderLine.product.category.equals('SHARE')}"/>
                                    <span class="text" th:if="${orderLine.product.category.equals('MAIN')}">
                                        <span th:if="${orderLine.selection != null}">[[${orderLine.product.name}]] (套餐)</span>
                                        <span th:if="${orderLine.selection == null}">[[${orderLine.product.name}]] (單點)</span>                                        
                                        <span>x [[${orderLine.amount}]]</span>
                                    </span>
                                    <span class="text" th:if="${!orderLine.product.category.equals('MAIN')}">
                                        <span>[[${orderLine.product.name}]]</span>
                                        <span>x [[${orderLine.amount}]]</span>
                                    </span>
                                </div>
                                 <div class="row simpleview">
                                    <a href="#" th:href="@{/menu/shoppingcart}">
                                        もっと詳しい情報
                                    </a>                                    
                                </div>
                            </div>
                        </div> <!-- end of cart(orderLines info) -->
                    </div> <!-- end of cart -->

                </div> <!-- end of rightbar -->       

            </div> <!-- end of wrapper -->

        </div> <!-- end of container -->

        <!-- footer -->
        <div id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="column">
                        <ul>
                            <li>
                                <div class="title">
                                    瀏覽菜單
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    快樂分享餐
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    超值全餐和主菜單點
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    配餐單點
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    飲料
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    點心與拼盤
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul>
                            <li>
                                <div class="title">
                                    支援
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    使用條款
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    隱私權保護聲明
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    常見問題
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    飲養資訊
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    政府規範產品標示
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul>
                            <li>
                                <div class="title">
                                    了解更多
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    麥當勞官方網站
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    麥當勞官方粉絲團
                                </a>
                            </li>                           
                        </ul>
                    </div>      
                </div> <!-- End of row -->        
                <div>　マックドナルドテスト </div>
            </div> <!-- End of container -->            
        </div> <!-- End of footer -->


        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
        <script>
            /*sidebar hover event*/
            $("#sidebar a").hover(function () {
                $(this).children('#icon').css('color', 'green');
                $(this).children('#text').css('color', '#ff3308');
            }, function () {
                if ($(this).prop('href') !== window.location.href) {
                    $(this).children('#icon').css('color', '');
                    $(this).children('#text').css('color', '');
                    if ($('#topbar #menu').prop('href') === window.location.href) {
                        $('#sidebar a').first().children('#icon').css('color', 'green');
                        $('#sidebar a').first().children('#text').css('color', '#ff3308');
                    }
                }
            });

            /*menu home specific hyperlink highlight*/
            $(function () {
                if ($('#topbar #menu').prop('href') === window.location.href) {
                    $('#topbar #menu').css('color', '#ffc012');
                    $('#sidebar a').first().children('#icon').css('color', 'green');
                    $('#sidebar a').first().children('#text').css('color', '#ff3308');
                }
            });

            /*sidebar hyperlink highlight*/
            $(function () {
                $('#sidebar a').each(function () {
                    if ($(this).prop('href') === window.location.href) {
                        $(this).children('#icon').css('color', 'green');
                        $(this).children('#text').css('color', '#ff3308');

                        $('#topbar #menu').css('color', '#ffc012');
                    }
                });
            });

            /*bottom margin to container content(wrapper content)*/
            let wrapperheight = $('#wrapper').prop("offsetHeight");
            $(function () {
                if (wrapperheight > 1200) {
                    let spacing = wrapperheight - 950;
                    $('#footer').css('margin-top', spacing + 'px');
                } else if (wrapperheight > 1000) {
                    let spacing = wrapperheight - 850;
                    $('#footer').css('margin-top', spacing + 'px');
                }
            });

            /* while browser's y-index over 1200 - change the footer min-height
             * deprecated - after insert column value height is no longer needed to modify
             * 
             * 
             let pageheight = $('html').prop('offsetHeight');
             let sumheight = pageheight - 1200;
             $(function () {
             if (pageheight > 1200) {
             $('#footer').css('min-height', sumheight + 'px');
             }
             });
             
             */
        </script>
        <script>
            let date1 = new Date();
            let date2 = new Date();
            date1.setMinutes(date1.getMinutes() + 30);
            date2.setMinutes(date2.getMinutes() + 60);
            document.getElementById("date1").innerHTML = date1.toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'});
            document.getElementById("date2").innerHTML = date2.toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'});
        </script>
    </body>
</html>
