<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/Thymeleaf.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>        
        <link rel=stylesheet th:href="@{/css/style.css}" href="../static/css/style.css" />
        <style>
            /*user account dropdown selection */
            .dropdown {
                position: relative;
                display: inline-block;
            }
            .dropbtn {
                cursor: pointer;
                border: none;
            }
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 120px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                border-radius: 5px;
            }
            .dropdown-content a {
                color: black;
                padding: 10px 15px;
                text-align: left;
                display: block;
            }
            .dropdown-content a:hover {
                background-color: #f1f1f1;
                text-decoration: none;
                color: #E10C1A;
            }
            .dropdown:hover .dropdown-content {
                display: block;
            }
        </style>

    </head>
    <body style="background-color: #f3f5f9">        
        <div id="page" class="container">
            <!-- user account info -->
            <div class="container">    
                <div class="user">
                    <div class="nav navbar-right">
                        <ul>
                            <li>
                                <span class="glyphicon glyphicon-user"></span>
                                &nbsp;|&nbsp;
                            </li>
                            <li>
                                <a th:if="${session.name == null}" href="#" th:href="@{/users/login}" style="color: black">登入</a>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <span class="dropbtn" th:if="${session.name != null}">
                                        &nbsp;[[${session.name}]]&nbsp;
                                        <div class="dropdown-content">
                                            <a href="#" >功能1</a>
                                            <a href="#" >功能2</a>
                                            <a href="#" >功能3</a>
                                            <a href="#" th:href="@{/users/logout}">登出</a>
                                        </div>                                   
                                    </span>
                                </div>
                                |&nbsp;
                            </li>
                            <li>
                                <a href="#" th:href="@{/orders/status}" target="_blank" style="color: black">追蹤訂單</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <!-- topbar -->
                <div id="topbar" class="topbar">                   
                    <div style="background-color: #E10C1A;">
                        <a href="#">
                            <img src="../static/icon_img/topbar_title.png" th:src="@{/icon_img/topbar_title.png}" alt="title"/>                          
                        </a>
                    </div>
                    <div>
                        <ul>                                            
                            <li style="border-right: 1px solid #222; padding-left: 30px;">
                                <a href="#" id="menu">
                                    <span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp;
                                    瀏覽菜單
                                </a>
                            </li>
                            <li style="border-right: 1px solid #222;">
                                <a href="#" th:href="@{/users/account}">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                                    我的帳戶
                                </a>
                            </li>
                            <li>
                                <a href="https://google.com">
                                    <span class="glyphicon glyphicon-earphone"></span>&nbsp;
                                    支援
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- sidebar -->
                <div id="sidebar" class="sidebar">
                    <ul>
                        <li style="box-shadow: 0 2px 2px #d69c00; ">
                            <p class="sidebar-title">一般餐點</p>         
                        </li>
                        <li style="border-bottom: 1px solid #ffd256;">
                            <a href="#" th:href="@{/menu/share}">
                                <span id="icon" class="glyphicon glyphicon-leaf" ></span>&nbsp;
                                <span id="text">快樂分享餐</span>
                            </a>
                        </li>
                        <li style="border-bottom: 1px solid #ffd256;">
                            <a href="#" th:href="@{/menu/main_course}">
                                <span id="icon" class="glyphicon glyphicon-leaf"></span>&nbsp;
                                <span id="text">超值全餐和主餐單點</span>
                            </a>
                        </li>
                        <li style="border-bottom: 1px solid #ffd256;">
                            <a href="#" th:href="@{/menu/sub_course}">
                                <span id="icon" class="glyphicon glyphicon-leaf"></span>&nbsp;
                                <span id="text">配餐單點</span>
                            </a>
                        </li>                      
                        <li style="border-bottom: 1px solid #ffd256;">
                            <a href="#" th:href="@{/menu/drinks}">
                                <span id="icon" class="glyphicon glyphicon-leaf"></span>&nbsp;
                                <span id="text">飲料</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/menu/dessert}">
                                <span id="icon" class="glyphicon glyphicon-leaf"></span>&nbsp;                        
                                <span id="text">點心與拼盤</span>
                            </a>
                        </li>

                    </ul>
                </div>    

                <!-- main content -->
                <div layout:fragment="content" id="main_content" class="main_content">
                    <p>Welcome to Thymeleaf Layout Dialect</p>
                </div>

                <!-- rightbar -->
                <div id="rightbar" class="rightbar">
                    <a href="#">
                        <img src="../static/func_img/how_mcdelivery_works_portrait_zh.png" th:src="@{/func_img/how_mcdelivery_works_portrait_zh.png}" alt="right_bar">
                    </a>
                </div>

            </div> <!-- end of wrapper -->
        </div> <!-- end of container -->

        <!-- bottom -->
        <div id="bottom" style=" margin-top: 100px; background-color: #dddddd; height: auto;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>title1</th>
                        <th>title2</th>
                        <th>title3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>content 1-1</td>
                        <td>content 2-1</td>
                        <td>content 3-1</td>
                    </tr>
                    <tr>
                        <td>content 1-2</td>
                        <td>content 2-2</td>
                        <td>content 3-2</td>
                    </tr>
                    <tr>
                        <td>content 1-3</td>
                        <td>content 2-3</td>
                        <td>content 3-3</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right">
                            <strong>Copyright &copy; MyCompany Ltd.</strong>
                        </td>                        
                    </tr>
                </tbody>
            </table>    
        </div>

        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
        <script>
            /*sidebar hover event*/
            $("#sidebar a").hover(function () {
                $(this).children('#icon').css('color', 'green');
                $(this).children('#text').css('color', '#ff3308');
            }, function () {
                if ($(this).prop('href') !== window.location.href) {
                    $(this).children('#icon').css('color', '');
                    $(this).children('#text').css('color', '');
                }
            });

            /*sidebar hyperlink highlight*/
            $(function () {
                $('#sidebar a').each(function () {
                    if ($(this).prop('href') === window.location.href) {
                        $(this).children('#icon').css('color', 'green');
                        $(this).children('#text').css('color', '#ff3308');
                        
                        $('#topbar #menu').css('color', '#ffc012');           
                    }
                });
            });
            /*bottom margin to container content*/
            $(function () {
                if ($('#page').prop("offsetHeight") < 600) {
                    $('#bottom').css('margin-top', '600px');
                } else if ($('#page').prop("offsetHeight") < 900) {
                    $('#bottom').css('margin-top', '300px');
                }
            });

        </script>

    </body>
</html>
