<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/Thymeleaf.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>        
        <link rel=stylesheet th:href="@{/css/style.css}" href="../static/css/style.css" />
    </head>
    <body style="background-color: #f3f5f9">        
        <div id="page" class="container">
            <!-- user account info -->
            <div class="container">    
                <div class="user">
                    <span class="nav navbar-right">
                        <a th:if="${session.name == null}" href="#" th:href="@{/users/login}">登入</a>
                        <span th:if="${session.name != null}" >
                            歡迎! [[${session.name}]]&nbsp;
                            <a href="#" th:href="@{/users/logout}">登出</a>
                        </span>                       
                        |
                        <a href="#" th:href="@{/orders/status}" target="_blank">追蹤訂單</a>
                    </span>
                </div>
            </div>

            <div class="wrapper">
                <!-- topbar -->
                <div class="topbar">                   
                    <ul>                     
                        <li>                            
                            <a href="#" >
                                麥當勞24hr歡樂送                            
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                最新資訊
                            </a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/users/account}">
                                我的帳戶
                            </a>
                        </li>
                        <li>
                            <a href="https://google.com">
                                支援
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- sidebar -->
                <div id="sidebar" class="sidebar">
                    <ul>
                        <li>
                            <p>一般餐點</p>         
                        </li>
                        <li>
                            <a href="#" th:href="@{/menu/share}">
                                <span class="glyphicon glyphicon-leaf"></span>
                                快樂分享餐
                            </a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/menu/main_course}">
                                <span class="glyphicon glyphicon-leaf"></span>                            
                                超值全餐和主餐單點
                            </a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/menu/sub_course}">
                                <span class="glyphicon glyphicon-leaf"></span>
                                配餐單點
                            </a>
                        </li>                      
                        <li>
                            <a href="#" th:href="@{/menu/drinks}">
                                <span class="glyphicon glyphicon-leaf"></span>
                                飲料
                            </a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/menu/dessert}">
                                <span class="glyphicon glyphicon-leaf"></span>
                                點心與拼盤
                            </a>
                        </li>

                    </ul>
                </div>    

                <!-- main content -->
                <div layout:fragment="content" id="main_content" class="main_content">
                    <p>Welcome to Thymeleaf Layout Dialect</p>
                </div>

                <!-- rightbar -->
                <div id="rightbar" class="rightbar">
                    <ul>
                        <li>first</li>
                        <li>second</li>
                        <li>third</li>
                    </ul>
                </div>

            </div> <!-- end of wrapper -->
        </div> <!-- end of container -->

        <!-- bottom -->
        <div id="bottom" style=" margin-top: 100px; background-color: #dddddd; height: auto;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>title1</th>
                        <th>title2</th>
                        <th>title3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>content 1-1</td>
                        <td>content 2-1</td>
                        <td>content 3-1</td>
                    </tr>
                    <tr>
                        <td>content 1-2</td>
                        <td>content 2-2</td>
                        <td>content 3-2</td>
                    </tr>
                    <tr>
                        <td>content 1-3</td>
                        <td>content 2-3</td>
                        <td>content 3-3</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right">
                            <strong>Copyright &copy; MyCompany Ltd.</strong>
                        </td>                        
                    </tr>
                </tbody>
            </table>    
        </div>

        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
        <script>
            /*sidebar hyperlink highlight*/
            $(function () {
                $('a').each(function () {
                    if ($(this).prop('href') === window.location.href) {
                        $(this).css('color', '#ff3308');
                        $(this).children('span').css('color', 'green');                    
                    }
                });
            });
            /*bottom margin to container content*/
            $(function () {
                if ($('#page').prop("offsetHeight") < 600) {
                    $('#bottom').css('margin-top', '600px');
                } else if ($('#page').prop("offsetHeight") < 900) {
                    $('#bottom').css('margin-top', '300px');
                }
            });

        </script>

    </body>
</html>
