<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/Thymeleaf.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="header"><h3>快樂分享餐</h3></div>
            <div class="container" style="max-width: 1000px">
                <div style="margin-top: 20px">
                    <article class="img-thumbnail" style="padding: 50px; border-width: 2px" th:each="p : ${list}">
                        <h4 style="margin-top: 0px" th:text="${p.name}" class="text-center">name</h4>
                        <div style="width: 150px; height: auto"><img style="width: 150px; height: 130px" th:src="${p.photo?.photo_location}" alt="photo"/>
                            <div class="text-center text-danger" style="text-decoration: line-through">原價:[[${p.price+40}]]</div>
                            <div class="text-center">優惠:[[${p.price}]]</div>                            
                            <div th:switch="${p.state}" class="text-center">
                                <span class="btn btn-warning" th:case="0">缺貨中</span>
                                <span class="btn btn-default" th:case="1" >
                                    <a href="#" th:href="@{/menu/{id}/confirmInfo(id=${p.id})}">購買</a>
                                </span>                                   

                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>    
    </body>
</html>
