<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/Thymeleaf.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>

    </head>
    <body>
        <div class="container">
            <h2 class="page-header" style="margin-top: 100px">訂單資料</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>訂單資訊</th>
                        <th>訂單總金額</th>
                        <th>下單日期</th>                        
                        <th>狀態</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order : ${session.orderList}"> Order的forEach

                        <td>                            
                            <div>
                                orderLine的forEach
                            </div>
                            <hr/>
                            <div>
                                orderLine的forEach
                            </div>
                            <hr/>
                        </td>

                        <td style="text-align: center; vertical-align: middle">
                            100元(orderLine 價錢的加總)
                        </td>

                        <td style="text-align: center; vertical-align: middle">
                            2022/08/31(order 中取出日期做轉換 calendar)
                        </td>

                        <td th:text="${order.status}" style="text-align: center; vertical-align: middle">
                            處理中 (order中取出狀態)
                        </td>

                    </tr>                    
                </tbody>
            </table>



        </div>


        <script>
            //單次order 總價的計算利用JavaScript 或 jQuery 來處理 orderLines
        </script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script> 
    </body>
</html>
