<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/Thymeleaf.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Shopping Cart | McProject</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--使用本地端伺服器資源-->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/shoppingcart_style.css}" href="../static/css/shoppingcart_style.css"/>
        <link rel="stylesheet" th:href="@{/css/product_info_style.css}" href="../static/css/product_info_style.css"/>  
    </head>
    <body style="background-color: #f3f5f9;">
        <div id="header" class="header">
            <div class="logo-mark">
                <a href="#" th:href="@{/menu}">
                    <img src="../static/func_img/logo.png" th:src="@{/func_img/logo.png}" alt="logo" style="max-width: 15%; height: auto;"/>    
                </a>

            </div>
            <div class="identity">
                <span th:if="${session.user != null}" th:text="${session.user.userName}">user name</span>                
            </div> 
        </div>   

        <div id="container" class="container" > 
            <div id="empty" class="empty" th:if="${session.orderLines == null}">
                <div style="margin-top: 50px; font-size: 25px; color: silver">
                    お客様のカートに商品はありません。
                </div>
                <div style="margin-top: 50px;">
                    <img src="../static/func_img/empty_cart.png" th:src="@{/func_img/empty_cart.png}" alt="empty"/>
                </div>
                <div style="margin-top: 50px;">
                    <a class="btn btn-default" style="width:160px; margin-right: 50px; color:orange; border-color: orange" href="#" th:href="@{/menu}"> メニュートップへ </a>

                    <a class="btn btn-default" style="width:160px; margin-left: 50px" href="#" th:href="@{/orders/status}"> 配送状況を確認 </a>
                </div>
            </div>  <!-- end of empty content  --> 

            <div id="cart" class="cart" th:if="${session.orderLines != null}">                
                <table class="table table-hover" style="margin-bottom: 0;">
                    <thead style="padding: 10px;">
                        <tr class="table-header">                   
                            <th style="width: 40%">商品名稱</th>
                            <th style="width: 30%">附餐</th>
                            <th style="width: 10%;">數量</th>
                            <th style="width: 20%">商品總價</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-content" th:each="orderLine : ${session.orderLines}">

                            <td style="display: flex;">                               
                                <a class="glyphicon glyphicon-trash" onclick="deleteAlert(event);" href="#" th:href="@{/menu/{id}/remove(id=${orderLine.id})}" style="margin-right: 20px;"></a>
                                <span th:text="${orderLine.product.name}">product name</span>                                
                            </td>
                            <td>
                                <!--可能要判斷selection 為null 的情況--> 
                                <div th:each="selec : ${orderLine.selection}" >
                                    <!-- 加個標註之類的 -->          
                                    <div th:text="${selec}">select</div>
                                </div>
                            </td>
                            <td th:text="*{orderLine.amount}">1</td>
                            <td th:text="'$'+*{orderLine.purchasePrice}">$0</td>

                        </tr>                                              
                    </tbody>
                </table>
                <!-- 結帳資料 -->
                <div class="general">
                    <div class="general-content">
                        <div style="width: 90%">共 [[${session.orderLines.size()}]] 個商品金額小計 : </div>
                        <div style="width: 10%;" th:text="'$'+${#collectiontools.summarization(session.orderLines)}">$0</div>                        
                    </div>
                    <div class="general-content">
                        <div style="width: 90%">
                            <span style="font-size: 13px; color: gray">(麥當勞24h歡樂送)</span>
                            &nbsp;
                            <span>運費 :</span>
                        </div>
                        <div style="width: 10%">$60</div>
                    </div>
                    <div class="general-content">
                        <div style="width: 90%;">總金額 : </div>
                        <div style="width: 10%; font-size: 25px; color: red" th:text="${#collectiontools.summarization_freight(session.orderLines)}">$0</div>
                    </div>
                </div>

                <div class="confirm-order">
                    <a id="btn-confirm" class="btn" href="#" onclick="successMessage(event)" th:href="@{/orders/submit}" th:if="${session.orderLines != null}">結帳</a>                           
                    <div id="delivery-date" class="delivery-date">
                        <span>預計送達時間 : </span>
                        <span id="date1"></span>
                        ～
                        <span id="date2"></span>
                    </div>                                 
                    <a class="btn" href="#" th:href="@{/menu}">繼續購物</a>                    
                </div>


            </div>  <!-- End of cart -->                         
        </div> <!-- end of container -->

        <div id="footer" class="footer" th:if="${session.orderLines == null}">
            <div class="container">
                <div class="row">
                    <div class="column">
                        <ul>
                            <li>
                                <div class="title">
                                    瀏覽菜單
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    快樂分享餐
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    超值全餐和主菜單點
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    配餐單點
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    飲料
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    點心與拼盤
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul>
                            <li>
                                <div class="title">
                                    支援
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    使用條款
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    隱私權保護聲明
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    常見問題
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    飲養資訊
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    政府規範產品標示
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul>
                            <li>
                                <div class="title">
                                    了解更多
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    麥當勞官方網站
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    麥當勞官方粉絲團
                                </a>
                            </li>                           
                        </ul>
                    </div>      
                </div>  <!-- End of row -->        
                <div>　マックドナルドテスト </div>
            </div>  <!-- End of footer container -->   
        </div>  <!-- End of footer -->        
        <div id="product-link" class="product-link" th:if="${session.orderLines != null}">
            <a th:href="@{/menu/shoppingcart}+'?suggest='+${suggest-1}" style="align-items: center">
                <div class="reduce">
                    <div class="left"></div>
                </div>
            </a>                
            <div style="display: flex;">
                <div th:each="p : ${suggestlist}" style="margin: 10px 10px; ">
                    <div class="product-box" style="margin-bottom: 0; width: 280px; height: auto;"> <!-- box-shadow -->
                        <!-- body -->
                        <div class="product-body">
                            <img class="img-block" th:src="${p.photo?.photo_location}" alt="photo" style="; width: 100%; height: 100%"/>
                            <h5 th:text="${p.name}" style="text-align: center;  font-size: 20px; margin-bottom: 0">Product Name</h5>
                        </div>
                        <!-- footer -->                                        
                        <div class="product-footer">                         
                            <div>
                                <div style="font-size: 13px; color: green">價格NT$[[${p.price}]]起</div>                                    
                            </div>
                            <div th:switch="${p.state}">
                                <div class="btn btn-warning" th:case="0" style="width: 80px">缺貨中</div>
                                <div class="btn btn-block btn-red" th:case="1"  style="width: 80px">
                                    <a href="#" th:href="@{/menu/{id}/confirmInfo(id=${p.id})}">訂餐</a>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div><!-- End of loop -->
            </div><!-- End of content -->

            <a th:href="@{/menu/shoppingcart}+'?suggest='+${suggest+1}">
                <div class="add">
                    <div class="right"></div>
                </div>
            </a>       
        </div>
        <div th:if="${session.orderLines != null}" class="pagination-info">
            <div>
                <div th:each="i : ${#numbers.sequence(1, totalpages)}" class="dot-iterater">
                    <div th:if="${suggest != i}" class="page-dot"></div>
                    <div th:if="${suggest == i}" class="current-page-dot"></div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
        <script>
                        /* product link adjust */
                        $(window).on('resize load', function () {
                            let cartHeight = $('#cart').height();
                            let marginAdjust = 600 - cartHeight + 200;
                            if (cartHeight <= 600) {
                                $('#product-link').css('margin-top', marginAdjust);
                            }
                        }); // end of function

                        /* footer adjust */
                        $(window).on('resize load', function () {
                            let windowHeight = $(window).height();
                            let headerHeight = $('#header').height();
                            let containerHeight = $('#container').height();
                            let footerHeight = $('#footer').height();
                            if (windowHeight <= 1000) {
                                $('#footer').css('position', 'static');
                                $('#footer').css('margin-top', 1000 - headerHeight - containerHeight - footerHeight);
                            } else {
                                $('#footer').css('position', 'fixed');
                                $('#footer').css('margin-top', '');
                            }
                        }); // end of function
        </script>
        <script>
            $('#btn-confirm').hover(function () {
                $('#delivery-date').addClass('delivery-date-hover');
            }, function () {
                $('#delivery-date').removeClass('delivery-date-hover');
            });
        </script>       
        <script>
            function deleteAlert(event) {
                event.preventDefault();
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((willDelete) => {
                    if (willDelete) {
                        window.location = jQuery(event.target).attr("href"); /*http://cat-son.blogspot.com/2012/11/javascript-windowlocation.html#sthash.V8gQ7oR0.dpbs*/
                    } else {
                        swal("Thankyou!");
                    }
                });
            }

            function successMessage(event) {
                event.preventDefault();
                swal({
                    title: "Thank You!",
                    text: "訂單已成立 感謝您的購買!",
                    icon: "success",
                    button: "close"
                }).then(() => {                    
                    window.location = jQuery(event.target).attr("href");
                    console.log(window.location);
                });
            }

        </script>
        <script>
            let date1 = new Date();
            let date2 = new Date();
            date1.setMinutes(date1.getMinutes() + 30);
            date2.setMinutes(date2.getMinutes() + 60);
            if (document.getElementById("date1") !== null) {
                document.getElementById("date1").innerHTML = date1.toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'});
                document.getElementById("date2").innerHTML = date2.toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'});
            }
        </script>
    </body>
</html>
