<div th:fragment="topbar">
    <nav class="navbar navbar-default">
        <h3 style="text-align: center">麥當勞歡樂送(笑)</h3>
    </nav>
</div>

<div th:fragment="sidebar">
    <nav class="navbar navbar-brand page-header">
        <ul class="nav navbar-left" style="background-color: #f0ad4e">
            <li>
                <a href="#">套餐</a>
            </li>
            <li>
                <a href="#">單點</a>
            </li>
            <li>
                <a href="#">邊緣人分享餐</a>
            </li>
            <li>
                <a href="#">女拳自助餐</a>
            </li>
            <li>
                <a href="#">結帳</a>
            </li>                    
        </ul>   
    </nav>
</div>